#banner{
    height: 160px;
    width: 1500px;
}

.portada-home{
    height: 200px;
    width: 222px;
}

.portada-detail{
    height: 250px;
    width: 250px;
}

.portada-form{
    height: 150px;
    width: 150px;
}

.hidden{
    display: none;
}

.punctuation-star{
    color: #febf63;
}
